apiVersion: v1
kind: Service
metadata:
  name: {{ include "dynamic-time-portal.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: {{ include "dynamic-time-portal.name" . }}
    # The service forwards requests to pods matching the `app` label.
    # Change `type` in values.yaml to expose the service differently.
